@using System.Net.Http
@inject HttpClient http

<div class="flexContainer">
    <div class="hugeButton" @onclick="ToggleRun">
        @if (!isRunning)
        {
            <span class="oi oi-media-play bigIcon"></span>
        }
        @if (isRunning)
        {
            <span class="oi oi-media-pause bigIcon"></span>
        }
    </div>
</div>

@code {
    private bool isRunning = true;

    private async Task ToggleRun()
    {
        await http.PostAsync("Recording/start", null);
        Console.WriteLine(http.BaseAddress);
        isRunning = !isRunning;

    }
}