<div class="flexContainer">
    <div class="hugeButton" @onclick="ToggleRun">
        @if (!isRunning)
        {
            <span class="oi oi-media-play bigIcon"></span>
        }
        @if (isRunning)
        {
            <span class="oi oi-media-pause bigIcon"></span>
        }
    </div>
</div>

@code {
    private bool isRunning = true;

    private void ToggleRun()
    {
        Thread.Sleep(250);
        isRunning = !isRunning;
    }
}